# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
from datetime import datetime

current_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(f"Current date and time: {current_time}")

Current date and time: 2025-08-10 01:12:36

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [5]:
import math

def circle_area(radius):
    return round(math.pi * radius ** 2,2)

area = circle_area(2)
print(area)

12.57

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [14]:
def unique_elements(input_list):
    if len(set(input_list)) == len(input_list):
        return True
    return False
ages = [25, 30, 35, 40,30]
print(unique_elements(ages))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [17]:

with open('data/lil-wayne.txt','r') as file:
    content = file.read()

content = content.upper()

characters = {}
for ch in content:
    if ch not in characters:
        characters[ch] = 1
    else:
        characters[ch] += 1
print(characters)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [18]:
max_char = max(characters, key=characters.get)
print(f"The most frequent character is: {max_char} with {characters[max_char]} occurrences.")

The most frequent character is:   with 522 occurrences.

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [21]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

removed = list1.pop(3)
new_num = removed * list1[-1]
list1.append(new_num)
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [22]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []
for num in original_list:
    if num % 3 == 0:
        new_list.append(num)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [25]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list = list(reversed(original_list))

print(new_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [26]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []
for num in original_list:
    new_list.append(num ** 2)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [27]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2 = list(reversed(list2))
for i in range(len(list1)):
    print(list1[i], list2[i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [9]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

for s in list_of_strings[:]:  # iterate over a copy
    if s == '':
        list_of_strings.remove(s)

print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [8]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

if 999 in sample_dict.values():
    print(True)
else:
    print(False)

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [ ]:
#greeting = "Hello, possible pirate! What's the password?"
#password = 'admin'
#message = greeting+password
#if message in ["Arrr!"):
#	print("Go away, pirate.")
#elif
#print("Greetings, hater of pirates!")

greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting + " " + password

if message == "Arrr!":
    print("Go away, pirate.")
else:
    print("Greetings, hater of pirates!")

In [12]:
pages = 457
word_per_page = 250
number_of_pieces = 100

each_chunk = (pages * word_per_page)/10
print("each_chunk")

each_chunk

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [14]:
import pandas as pd

with open('data/titanic.csv', 'r') as file:
    df = pd.read_csv(file)

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [17]:
age_mean = round(df['age'].mean(),2)
print(age_mean)

29.7

## What was the oldest and youngest ages on the titanic?

In [18]:
oldest = df['age'].max()
youngest = df['age'].min()
print(oldest, youngest)

80.0 0.42

## How many people embarked from station 'S'?

In [19]:
station_s_embark = sum(df['embarked'] == 'S')
print(station_s_embark)

644